.product-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  gap: 20px;
}

.reset {
  left: 140px !important;
  background-color: #fff !important;
  color: #202020 !important;
  box-shadow: 0 0 0 2px inset rgba(0, 0, 0, 0.3) !important;

  &:hover {
    background-color: #303030 !important;
    color: #fff !important;
  }

  &:active {
    background-color: #101010 !important;
    color: #fff !important;
  }
}
