html,
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

.btn.btn-primary {
  z-index: 10000;
  margin: 10px;
  border-radius: 16px;
  background-color: #202020;
  border: none;
  padding: 20px 40px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #303030;
    box-shadow: 0 15px 30px 10px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: #101010;
  }
}
