$xxl: 1600px;
$xxl-xl: 1500px;
$xl: 1400px;
$xl-lg: 1300px;
$lg: 1200px;
$lg-md: 1100px;
$md: 992px;
$md-sm: 900px;
$sm: 768px;
$sm-xs: 700px;
$xs: 576px;

$inputBorder: 0px solid #00000000;

$borderRadius: 16px;
